<?xml version="1.0"?>
<DTSConfiguration>
<DTSConfigurationHeading>
<DTSConfigurationFileInfo GeneratedBy="VIMALSHARMA\Vimal" GeneratedFromPackageName="CSVFooter" GeneratedFromPackageID="{4CD3FD59-9400-4BE5-8612-2DF03F31446B}" GeneratedDate="12/23/2014 12:51:48 PM"/></DTSConfigurationHeading>
<Configuration ConfiguredType="Property" Path="\Package.Connections[DestinationConnectionOLEDB].Properties[Password]" ValueType="String">
<ConfiguredValue>Admin123#</ConfiguredValue>

</Configuration></DTSConfiguration>