<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <requiredRuntime version="v4.0.20506" />
  </startup>

  <appSettings>


    <add key="FilesImported" value="D:\Newfolder\dev\GST_MARTService\FilesImported\"/>

    <!-- CSV Package File Path -->
    <add key="CSV_ledger_Path" value="D:\Code\Git\gst-mart\SSIS\GST-mart\GST-mart\CSVLedger.dtsx"/>
    <add key="CSV_supply_Path" value="D:\Code\Git\gst-mart\SSIS\GST-mart\GST-mart\CSVSupply.dtsx"/>
    <add key="CSV_purchase_Path" value="D:\Code\Git\gst-mart\SSIS\GST-mart\GST-mart\CSVPurchas.dtsx"/>
    <add key="CSV_company_Path" value="D:\Code\Git\gst-mart\SSIS\GST-mart\GST-mart\CSVCompany.dtsx"/>
    <add key="CSV_footter_Path" value="D:\Code\Git\gst-mart\SSIS\GST-mart\GST-mart\CSVFooter.dtsx"/>

    <!-- Excel Package File Path -->
    <add key="Excel_ledger_Path" value="D:\Code\Git\gst-mart\SSIS\GST-mart\GST-mart\CSVLedger.dtsx"/>
    <add key="Excel_supply_Path" value="D:\Code\Git\gst-mart\SSIS\GST-mart\GST-mart\CSVSupply.dtsx"/>
    <add key="Excel_purchase_Path" value="D:\Code\Git\gst-mart\SSIS\GST-mart\GST-mart\CSVPurchas.dtsx"/>
    <add key="Excel_company_Path" value="D:\Code\Git\gst-mart\SSIS\GST-mart\GST-mart\ExcelCompany.dtsx"/>
    <add key="Excel_footter_Path" value="D:\Code\Git\gst-mart\SSIS\GST-mart\GST-mart\ExcelFooter.dtsx"/>



    <!-- SSIS variable Connectionstring -->
    <add key="DataSource" value="192.168.0.106" />
    <add key="Catalog" value="STAGEDBGSTMASRT" />
    <add key="Password" value="Admin123#" />
    <add key="Username" value="sa" />
    <add key="DestCatalog" value="GSTReport" />

    <!-- SSIS csv or txt variable  Connectionstring -->
    <add key="csv_ledger" value="D:\csvfile\ledger.csv"/>
    <add key="csv_purchase" value="D:\csvfile\NewPurcase.csv"/>
    <add key="csv_footer" value="D:\csvfile\NewFooter.csv"/>
    <add key="csv_company" value="D:\csvfile\NewCompany.csv"/>
    <add key="csv_supply" value="D:\csvfile\NewSupply.csv"/>

    <!-- SSIS Excel variable  Connectionstring -->
    <add key="xlsx_ledger" value="D:\csvfile\ledger.csv"/>
    <add key="xlsx_purchase" value="D:\csvfile\NewPurcase.csv"/>
    <add key="xlsx_footer" value="D:\csvfile\NewFooter.csv"/>
    <add key="xlsx_company" value="D:\csvfile\NewCompany.csv"/>
    <add key="xlsx_supply" value="D:\csvfile\NewSupply.csv"/>

    <!-- Connectionstring -->
    <add key="Data-Source" value="192.168.0.106" />
    <add key="DB" value="GSTMASRT" />
    <add key="PasswordDB" value="Admin123#" />
    <add key="Username-DB" value="sa" />
    
    

  </appSettings>
</configuration>