
<title>GST MART</title>
<ul class="nav nav-tabs">

    <li>@Html.ActionLink("Ip Address", "IpAddress", "Admin")</li>
    <li>@Html.ActionLink("File Location", "AdminPath", "Admin")</li>
    <li><a href="/Admin/SaveSchedualr">Save scheduler</a></li>
    <li><a href="/Admin/AuditLog">Audit Log</a></li>
    <li><a href="/Admin/Configuration">Configuration</a></li>

</ul>